<section class="container">
  <h1 class="my-3"> {{title}} USUARIO</h1>
  <form [formGroup]="userForm" ngSubmit="updateUser" class="d-flex flex-column gap-5 ps-3">
    <div class="d-flex flex-column gap-1">
      <label for="first_name">Nombre Usuario</label>
      <input type="text" id="first_name" formControlName="first_name">
    </div>
    <div class="d-flex flex-column gap-1">
      <label for="last_name">Apeliido Usuario</label>
      <input type="text" id="last_name" formControlName="last_name">
    </div>
    <div class="d-flex flex-column gap-1">
      <label for="email">Email Usuario</label>
      <input type="text" id="email" formControlName="email">
    </div>
    <div class="d-flex flex-column gap-1">
      <label for="image">Imagen Usuario</label>
      <input type="text" id="image" formControlName="image">
    </div>
    <div>
      <input type="submit" value="Actualizar" class="py-2 px-3 bg-light">
    </div>
  </form>
</section>