<ul  class="d-flex flex-row list-unstyled buttonList">

  @if (volver) {
    @if(!miUsuario?.error){
    <li class="w-100 d-flex flex-column justify-content-center align-items-center border border-dark rounded-start">
      <button (click)="deleteUser(miUsuario?._id)" class="btn btn-sm">Eliminar</button>
    </li>
    <li class="w-100 d-flex flex-column justify-content-center align-items-center border border-dark">
      <button class="btn btn-sm" [routerLink]="['/home', 'user', 'update', miUsuario?._id]">Actualizar</button>
    </li>
  }
    <li class="w-100 d-flex flex-column justify-content-center align-items-center border border-dark rounded-end">
      <button class="btn btn-sm" [routerLink]="['/home', 'users',]">Volver al listado</button>
    </li>
} @else {
  <li class=" w-100 d-flex flex-column align-items-center">
    <button class="btn btn-sm d-flex flex-column" [routerLink]="['/home', 'user', miUsuario?._id]">
    <i> <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-search"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg></i>
    Ver detalle</button>
  </li>
  <li class="w-100 d-flex flex-column align-items-center">
    <button class="btn btn-sm d-flex flex-column" [routerLink]="['/home', 'user', 'update', miUsuario?._id]">
    <i><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-refresh"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4" /><path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4" /></svg></i>
    Actualizar</button>
  </li>
  <li class="w-100 d-flex flex-column align-items-center">
    <button class="btn btn-sm d-flex flex-column" (click)="deleteUser(miUsuario?._id)">
    <i><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-trash-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M20 6a1 1 0 0 1 .117 1.993l-.117 .007h-.081l-.919 11a3 3 0 0 1 -2.824 2.995l-.176 .005h-8c-1.598 0 -2.904 -1.249 -2.992 -2.75l-.005 -.167l-.923 -11.083h-.08a1 1 0 0 1 -.117 -1.993l.117 -.007h16zm-9.489 5.14a1 1 0 0 0 -1.218 1.567l1.292 1.293l-1.292 1.293l-.083 .094a1 1 0 0 0 1.497 1.32l1.293 -1.292l1.293 1.292l.094 .083a1 1 0 0 0 1.32 -1.497l-1.292 -1.293l1.292 -1.293l.083 -.094a1 1 0 0 0 -1.497 -1.32l-1.293 1.292l-1.293 -1.292l-.094 -.083z" /><path d="M14 2a2 2 0 0 1 2 2a1 1 0 0 1 -1.993 .117l-.007 -.117h-4l-.007 .117a1 1 0 0 1 -1.993 -.117a2 2 0 0 1 1.85 -1.995l.15 -.005h4z" /></svg></i>
    Borrar</button>
  </li>
  }
</ul>